# 这两行负责搞定【新电脑】的 pnpm 11+
allow-builds[]=bcrypt
allow-builds[]=sharp

# 这两行负责搞定【旧电脑】的 pnpm 9 / pnpm 10
# pnpm 10/11 正确的 .npmrc 列表配置写法（使用英文逗号或直接换行）
only-built-dependencies=bcrypt,sharp,unrs-resolver

# 将所有依赖提升平铺，彻底解决 Next.js standalone 在云服务上的软链接/符号链接失效问题
shamefully-hoist=true